@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/*  #f5deb3; Wheat
    #00173c; Oxford Blue
    #87cefa; LightSkyBlue
    #000000; Black */

body {
    font-family: "Titillium Web", sans-serif;
    background-color: #00173c;
    color: #f5deb3;
}

/* Navbar styling */
#navbar {
    background-color: #87cefa;
}

.nav-item:hover {
    font-weight: 900;
}

/* Logo image styling */
.logo {
    width:  50px;
    height: auto;
}

/* Main Content image styling */
 .coder {
    min-width: 70%;
    height: auto;
}

/* success page return button styling */
.success_return {
background-color: #00173c;
color: #f5deb3;
}

.success_return:hover {
    background-color: #0000b0;
    color: #f5deb3;
}

/* Footer styling */
footer {
    background-color: #000000;
    color: #f5deb3;
}

.contact-input {
width: 60%;
background-color: transparent;
color: #f5deb3;
}

[type="submit"] {
    width: 30%;
    background: #00173c;
    border-radius: 200px;
    border: 0;
    cursor: pointer;
    color: #f5deb3;
}

[type="submit"]:hover {
    background: #000080;
}

/* Projects section card styling */
.card {
    height: 100%;
}

.card-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.card-text {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

/* About me section styling */
.certs {
    height: 100px;
    margin: 5px;
}

.selfie {
    height: 400px;
}

#about_title {
    margin: auto;
}

.ordered_flx {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}